ul {
    list-style-type: none;
    background-color: #333;
    height: 50px;
    padding: 0px;
    margin: 0px;
}

li {
    float: left;
    width: 100px;
    height: 50px;
    text-align: center;
}

a {
    display: block;
    color: white;
    padding-top: 15px;
    text-decoration: none;
}

.blue-box {
    background-color: blue;
}