body {
    background-color: white;
    color: black;
}

#main-box {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 5px solid grey;
    padding: 20px;
}