body {
    background-color: rgb(255, 194, 194);
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

#box {
    background-color: white;
    width: 300px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}


input {
    margin-bottom: 10px;
    width: 150px;
}

button {
    background-color: blue; 
    color: white;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
}

#myTable {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 350px;
    background-color: white;
}

td {
    border: 1px solid orange;
    padding: 5px;
    text-align: center;
}

th {
    border: 1px solid orange;
    padding: 5px;
}