#user-input {
    width: 200px;
    padding: 5px;
    border: 1px solid grey;
}

#pass-input {
    width: 200px;
    padding: 5px;
    border: 1px solid grey;
}

input:focus {
    background-color: lightyellow;
    border: 2px solid blue;
}