body {
    background-color: silver;
}

#mainbox {
    background-color: white;
    width: 300px;
    height: 400px;
    border: 2px solid black;
    padding: 10px;
}

#screen {
    width: 90%;
    height: 40px;
    background-color: lightgray;
    font-size: 30px;
    text-align: right;
    margin-top: 20px;
}

button {
    width: 60px;
    height: 60px;
    font-size: 20px;
    margin: 5px;
}

.op {
    background-color: lightblue;
}

#eq {
    background-color: blue;
    color: white;
}